<div class="columns" ng-controller="columns">
  <div class="column-add">
    <div class="add" ng-click="addColumn()" ng-hide="columnsLocked">&#xF067;</div>
    <div class="lock" ng-click="columnsLocked = !columnsLocked">
      {{columnsLocked ? '\uf09c' : '\uf023'}}
    </div>
  </div>
  <div class="column-prompt" ng-show="columns.length === 0">&#xF060; Add Column</div>
  <div
    ng-repeat="c in columns"
    ng-class="['column-container', {dragging: c.isDragging}]"
  >
    <column />
  </div>
</div>
