<div
  ng-controller="task"
  ng-class="['task', {dragging: t.isDragging}]"
  ng-mousedown="startDragging($event, t)"
  ng-style="{top: t.y - t.startY + t.offsetY, left: t.x - t.startX + t.offsetX}"
>
  <div
    class="drag-overlay"
    ng-show="t.isDragging"
    ng-mousemove="handleDrag($event, t)"
    ng-mouseup="stopDragging($event, t)"
    ng-mouseleave="stopDragging($event, t)"
  >
  </div>
  <div class="task-name" ng-hide="t.editingName">
    {{ t.name }}
  </div>
  <input
    class="name-input"
    placeholder="Task Name"
    ng-model="t.name"
    ng-show="t.editingName"
    ng-keypress="handleKeypressForName($event)"
    ng-mousedown="$event.stopPropagation()"
  />
  <div class="task-description" ng-hide="t.editingDescription">
    {{ t.description }}
  </div>
  <textarea
    class="description-input"
    placeholder="Task Description"
    ng-model="t.description"
    ng-show="t.editingDescription"
    ng-keypress="handleKeypressForDescription($event)"
    ng-mousedown="$event.stopPropagation()"
  >
  </textarea>
  <div
    class="delete-task"
    ng-mousedown="$event.stopPropagation()"
    ng-click="deleteTask(c, $index)"
  >
    &#xF00D;
  </div>
</div>
