<div
  ng-class="['task', {dragging: t.isDragging}]"
  ng-mousedown="startDragging($event, t)"
>
  <div
    class="drag-overlay"
    ng-show="false && t.isDragging"
    ng-mousemove="handleDrag($event, t)"
    ng-mouseup="stopDragging($event, c.tasks, t)"
    ng-mouseleave="stopDragging($event, c.tasks, t)"
  >
  </div>
  <div class="task-name" ng-hide="t.editingName">
    {{ t.name }}
  </div>
  <input
    class="name-input"
    placeholder="Task Name"
    ng-model="t.name"
    ng-show="t.editingName"
    ng-keypress="handleKeypressForName($event, t)"
  />
  <div class="task-description" ng-hide="t.editingDescription">
    {{ t.description }}
  </div>
  <textarea
    class="description-input"
    placeholder="Task Description"
    ng-model="t.description"
    ng-show="t.editingDescription"
    ng-keypress="handleKeypressForDescription($event, t)"
  >
  </textarea>
  <div class="delete-task" ng-click="deleteTask(c, $index)">
    &#xF00D;
  </div>
</div>
